# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv("cities.csv")
city_data_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,luanda,3,AO,1563902863,83,-8.83,13.24,73.40,5.82
1,1,dikson,5,RU,1563902930,90,73.51,80.55,34.72,2.95
2,2,hithadhoo,99,MV,1563902930,76,-0.60,73.08,83.32,7.61
3,3,codrington,0,AU,1563902819,87,-28.95,153.24,55.99,9.17
4,4,tiznit,7,MA,1563902930,92,29.70,-9.73,69.10,11.77
5,5,hilo,20,US,1563902840,77,19.71,-155.08,73.99,6.93
6,6,berlevag,0,NO,1563902931,64,70.86,29.09,80.60,3.36
7,7,kodiak,1,US,1563902931,44,39.95,-94.76,78.01,7.05
8,8,kaeo,30,NZ,1563902931,100,-35.10,173.78,46.00,4.52
9,9,avarua,4,CK,1563902667,69,-21.21,-159.78,73.40,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key="")

In [4]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
conditions_df = city_data_df.loc[(city_data_df["Max Temp"] < 40) & (city_data_df["Max Temp"] > 10)&(city_data_df["Wind Speed"] < 10)
                         &(city_data_df["Cloudiness"] <= 10)].dropna()

conditions_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,dikson,5,RU,1563902930,90,73.51,80.55,34.72,2.95
11,11,mataura,4,NZ,1563902931,98,-46.19,168.86,36.00,4.65
255,255,clyde,0,NZ,1563902962,98,-45.19,169.32,28.99,4.56
329,329,tigil,0,RU,1563902972,82,57.80,158.67,36.52,4.21
434,434,burnie,2,AU,1563902987,94,-41.05,145.91,39.99,3.00
439,439,tuatapere,0,NZ,1563902987,98,-46.13,167.69,36.00,9.17
530,530,horsham,6,AU,1563902999,93,-36.71,142.20,37.60,4.59
555,555,ust-omchug,0,RU,1563903004,73,61.13,149.63,31.84,2.15

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel = conditions_df[["City","Country","Lat","Lng"]].copy()
hotel["Hotel Name"] = ""
hotel.head(10)

           City Country    Lat     Lng Hotel Name
1        dikson      RU  73.51   80.55
11      mataura      NZ -46.19  168.86
255       clyde      NZ -45.19  169.32
329       tigil      RU  57.80  158.67
434      burnie      AU -41.05  145.91
439   tuatapere      NZ -46.13  167.69
530     horsham      AU -36.71  142.20
555  ust-omchug      RU  61.13  149.63

In [7]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": "AIzaSyAQqOXz9QTAXRxu6ZWssOh61rEVkQdOhEo"
}
for index, row in hotel.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try:
        hotel.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel

Missing field/result... skipping.
Missing field/result... skipping.

           City Country    Lat     Lng                             Hotel Name
1        dikson      RU  73.51   80.55
11      mataura      NZ -46.19  168.86                          Ellie's Villa
255       clyde      NZ -45.19  169.32  Olivers Central Otago Lodge & Stables
329       tigil      RU  57.80  158.67                                 Tigil'
434      burnie      AU -41.05  145.91           Beachfront Voyager Motor Inn
439   tuatapere      NZ -46.13  167.69         Ron and Tony's Bed & Breakfast
530     horsham      AU -36.71  142.20            Comfort Inn Capital Horsham
555  ust-omchug      RU  61.13  149.63

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
locations = hotel[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))